<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="CertificatePath" value=".\Resources\certycert.p12" />
    <add key="DictionaryPath" value=".\Resources\dictionary.txt" />
    <add key="DictionaryPrefixesToSkip" value=".\Resources\PrefixesToSkip.txt" />
    <add key="DictionaryItemsMayRepeat" value="false" />
    <add key="MinimumPasswordLength" value="22" />
    <add key="MaximumPasswordLength" value="28" />
    <add key="MaximumDictionaryItemsToUse" value="4" />
  </appSettings>
</configuration>